first-year/calculus/src/main.aux
first-year/calculus/src/main.fdb_latexmk
first-year/calculus/src/main.fls
first-year/calculus/src/main.log
first-year/calculus/src/main.out
first-year/calculus/src/main.synctex.gz
first-year/calculus/src/main.pdf
first-year/calculus/src/main.toc